@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";


// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

@import "libs/bootstrap.min";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Asap";
$fontSize: rem(16); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: rgba(77,77,77,1); // Цвет шрифта по умолчанию
$medium: rgba(77,77,77,0.8);
$light: rgba(77,77,77,0.54);
$bg: #f6f6f6;


// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";
